#{{ ansible_managed }}

screen -S {{ item }}-Bungee java -Xms1G -Xmx2G -XX:+UseParNewGC -XX:+CMSIncrementalPacing -XX:+CMSClassUnloadingEnabled -XX:ParallelGCThreads=2 -XX:MinHeapFreeRatio=5 -XX:MaxHeapFreeRatio=10 -jar "BungeeCord.jar"
